<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Como fazer minha portabilidade?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <h6 style="color: white; text-align: justify;">BIM</h6>
    <p style="color: white; text-align: justify;">
      Você pode fazer a portabilidade do seu número! <br>
      1) Insira o BIMChip no seu aparelho e envie um SMS com a palavra"MANTER" para 4441 <br>
      2) Aguarde o retorno com um SMS da BIM solicitando o seu número na operadora atual, e responda com DDD (sem zero) + número (sem espaços). Ex.: 2199999999<br>
      3) Fique atento, você receberá um código no aparelho onde estiver seu chip da outra operadora. Anote o código. Ex.:TK1234.<br>
      <br>
      Dica BIM!<br>
      Você pode realizar essa ação:
      <br>
      • com dois celulares<br>
      • com um celular dualchip<br>
      • com um celular, trocando o chip da sua operadora antiga com o TIMchip<br><br>
      
      4) Envie um SMS do seu BIMChip com o código que você acabou de anotar. 
      Pronto! Sua portabilidade será realizada no dia e hora informados no SMS 
      de confirmação. Quando o processo for finalizado você estará cadastrado no
       mesmo plano do BIMChip adquirido, e seu plano em outra operadora será cancelado.
       <a href=" https://www.tim.com.br/sp/para-voce/planos/portabilidade">Mais Informações</a>
    </p>
  </div>

  <div>
    <h6 style="color: white; text-align: justify;">IBR</h6>
    <p style="color: white; text-align: justify;">
      <a href="https://www.oi.com.br/portabilidade/">Mais informações</a>
    </p>
  </div>

  <div>
    <h6 style="color: white; text-align: justify;">TESS</h6>
    <p style="color: white; text-align: justify;">
      É possível solicitar a portabilidade das seguintes maneiras:
      <br>
      Ligar direto de um aparelho Vivo para *8486;
      <br>
      Ligar de qualquer telefone, mesmo se não for cliente, para 1058;
      <br>
      Ligar de aparelhos de apoio para deficientes auditivos para 142.

      <a href="https://www.vivo.com.br/para-voce/ajuda/mais-ajuda/consultas/consulta-de-portabilidade">Mais Informações</a>
    </p>
  </div>

  <div>
    <h6 style="color: white; text-align: justify;">CALL</h6>
    <p style="color: white; text-align: justify;">
      <a href="https://www.claro.com.br/celular/portabilidade">Mais Informações</a>
    </p>
  </div>

</ion-content>
