<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Como recuperar meu número ?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div>
      <h6 style="color: white; text-align: justify;">BIM</h6>
      <p style="color: white; text-align: justify;"> Ligue para a Central de Relacionamento 
        com o Cliente do seu BIM discando *144 ou através 
        de um telefone fixo discando 1056. Há possibilidade 
        de recuperar os contatos do chip BIM antigo? Sim, caso 
        você seja usuário do serviço BIM Agenda. Se não possuir
         este serviço, as informações do chip antigo serão 
         perdidas." <a href="https://www.tim.com.br/sp/atendimento/reposicao-de-chip">Mais informações</a> </p>
    </div>

    <div>
      <h6 style="color: white; text-align: justify;">IBR</h6>
      <p style="color: white; text-align: justify;">Basta ligar no número *144 do seu IBR ou 1057 
        de qualquer telefone (fixo ou móvel), esperar ser 
        atendido e solicitar que o atendente faça o bloqueio 
        do chip IBR pra você. É possível recuperar o número 
        do chip perdido ou roubado, mas o resgate deve ser 
        realizado pelo titular da linha, com Identidade e 
        CPF originais. <a href=" https://www.oi.com.br/faq/p/como-recupero-meu-numero-oi-pre-pago">Mais informações</a> </p>
    </div>

    <div>
      <h6 style="color: white; text-align: justify;">TESS</h6>
      <p style="color: white; text-align: justify;">Para recuperar número no caso de perda ou roubo do 
        TESS Chip, primeiro o titular tem que bloquear a
         linha, ligando na Central de Relacionamento com o
          Cliente, através do *8486 de um celular TESS ou 
          1058 de qualquer telefone e solicitar ao atendente 
          o bloqueio do TESS Chip.
          <a href=" https://forum.vivo.com.br/newthread.php?do=newthread&f=9">Mais informações</a> 
      </p>
    </div>

    <div>
      <h6 style="color: white; text-align: justify;">CALL</h6>
      <p style="color: white; text-align: justify;">
        Em caso de perda ou roubo do seu celular, você pode 
        fazer o bloqueio do chip, para que ninguém use sua 
        linha, e também do aparelho, para que ninguém acesse 
        suas informações.
        Para bloqueio da linha (chip), você pode acessar a 
        Minha CALL ou ligar para o 1052. Para bloqueio do 
        aparelho (bloqueio do IMEI), ligue para o 1052 e 
        informe o número de série de seu aparelho, conhecido 
        como IMEI. Este número pode ser localizado na nota 
        fiscal do aparelho
        <a href="  https://faq.claro.com.br/pergunta-frequente/o-que-faco-em-caso-de-roubo-ou-perda-de-celular/">Mais informações</a> 
      </p>
    </div>
    
</ion-content>
