 <ion-header>
  <ion-toolbar color="dark">
    <ion-title>Recarga</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content padding>

  <div text-center>
    <label>Saldo:</label>
    <label> 0,00</label>
  </div>

  <br>
  <br>

  <div text-center>
    <label>Desejar realizar uma recarga ?</label>
  </div>

  <div>
    <ion-item>
      <ion-label position="floating">Valor:</ion-label>
      <ion-input></ion-input>
    </ion-item>  

    <ion-list>
      <ion-radio-group value="biff">
        <ion-list-header>
          <ion-label>Forma de Pagamento</ion-label>
        </ion-list-header>
    
        <ion-item>
          <ion-label>Cartão de Crédito</ion-label>
          <ion-radio color="dark" slot="start" value="biff"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Cartão de Débito</ion-label>
          <ion-radio color="dark" slot="start" value="griff"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Boleto</ion-label>
          <ion-radio color="dark" slot="start" value="buford"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
      <br>
    <ion-button color="dark" expand="block">Recarregar</ion-button>
  </div>

</ion-content>
