<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Meu Plano</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content">

  <div text-center padding>
    <label class="label"> Plano Controle - Bim Controle</label>
  </div>

  <div class="label" padding>
    <p text-center>
      R$ 49,99/mês<br>
      Até 5GB
      <br><br>
      Aplicativo ilimitados<br>
      - Whatsapp<br>
      - Messenger<br>
      - Telegram<br>
      
      <a href="https://www.tim.com.br/sp/para-voce/planos/controle">Saiba mais.</a>
    </p>
  </div>

</ion-content>
