
<ion-content padding>
  <h6 style="color: white;" text-center>TERMOS E CONDIÇÕES DE USO DA PLATAFORMA SO4 - SISTEMA OPERACIONAL 4
  </h6>

  <p style="color: white; text-align: justify;">Bem vindo ao SO4! É com imensa satisfação que recebemos 
    você como mais um  de  nossos  cadastrados.  Antes  de  
    começar  a  utilizar  os  serviços disponibilizados  em  
    nossas  plataformas, faz-se necessário conhecer a política
     de uso e condições gerais existentes. Os termos a seguir 
     regulam o uso dos serviços disponibilizados pela plataforma 
     SO4, dispondo sobre o acesso e utilização da plataforma 
     SO4.</p>

     <p style="color: white; text-align: justify;">O Sistema Operacional 4 - SO4 é um aplicativo inovador, 
       que chegou ao mercado para uma nova forma de utilização 
       das operadoras de telefonia celular. É lançado com o 
       potencial de ser mediador entre operadora e cliente, 
       atendendo às maiores demandas do ramo. Com as principais 
       funções das  operadoras de telefonia do Brasil, está em 
       estágio de desenvolvimento e promete ser a tecnologia do 
       futuro.Viva experiência de quatro operadoras em um só 
       aplicativo!</p>

       <p style="color: white; text-align: justify;">A plataforma digital encontra-se disponível  
         para download  no sistema Android- na "Play Store", 
         onde a loja virtual é a única forma oficial de 
         comunicação entre o SO4 eseus usuários.
      </p>

      <p style="color: white; text-align: justify;">
        A ação de quaisquer dos serviços oferecidos depende 
        exclusivamente da aceitação  dos  termos  ora  expostos,
          sendo  o  único  documento  oficial vinculante entre 
          o usuário cadastrado e a detentora da marca.
           Após o uso da plataforma, o usuário concorda e 
           anui com todas as disposições e condições 
           estabelecidas.
      </p>

      <p style="color: white; text-align: justify;">I – DISPOSIÇÕES INTRODUTÓRIAS</p>

      <p style="color: white; text-align: justify;"> Por meio de sua plataforma digital que consiste 
        em software/aplicativo, o Sistema Operacional 4 
        pratica a mediação de prestadores do serviço de 
        telefonia celular  e os clientes das mesmas, a fim 
        de facilitar a execução serviços de atendimento, 
        verificação de faturas, aderência de créditos especiais,
         entre outros.</p>

         <p style="color: white; text-align: justify;">
          As atividades exercidas pelo SO4 consistem tão 
          somente em gestão de  plataforma  e  base  de  
          dados  para  aproximar  usuários  e operadoras 
          de telefonias, intermediando os serviços prestados 
          por meio de plataforma digital.
         </p>

         <p style="color: white; text-align: justify;">II - ISENÇÃO DE GARANTIAS E LIMITAÇÕES DE 
           RESPONSABILIDADE
        </p>

        <p style="color: white; text-align: justify;">II - ste aplicativo estará em contínuo 
          desenvolvimento e pode conter erros. 
          Por isso, o uso é fornecido "no estado 
          em que se encontra" e sob responsabilidade
           do usuário final.
       </p>

       <p style="color: white; text-align: justify;">III - POLÍTICA DE PRIVACIDADE </p>

       <p style="color: white; text-align: justify;">As informações inseridas por seus usuários 
         (dados de cadastro, itens postados, mensagens 
         armazenadas, etc.) serão sigilosas, não compartilhadas
          com sites/empresas parceiras ou utilizadas para 
          pesquisas para melhorar o desempenho do aplicativo.
           Dados pessoais serão resguardados e protegidos, 
           utilizados apenas para as funções específicas de
            identificação e segurança  na utilização do 
            Sistema de Operação 4 (SO4).</p>

            <p style="color: white; text-align: justify;">IV - DIREITOS RESERVADOS</p>

            <p style="color: white; text-align: justify;">O usuário reconhece que nós 
              (ou nossos licenciados) somos proprietários de 
              todos os direitos, títulos e interesses referentes 
              ao Aplicativo Sistema Operacional 4 (SO4) e ao 
              software relacionado. "SO4" é a marca comercial ou 
              registrada do Sistema Operacional 4.  O usuário 
              não pode alterar, destruir, ocultar ou remover de 
              outra forma qualquer direito autoral ou rótulos 
              ou avisos de propriedade nos Aplicativos do Sistema
               Operacional 4.</p>

               <p style="color: white; text-align: justify;">V -  MODIFICARÇÕES NESTE TERMOS DE USO </p>

               <p style="color: white; text-align: justify;">Podemos, sem nenhuma responsabilidadede sua parte,
                  sem aviso prévio a qual quer momento. Seu uso contínuo 
                  ao Aplicativo Sistema Operacional 4 depois de quaisquer
                   modificações nesses terrenos de uso estará sujeito à 
                   aceitação dessa modificações. Em vãode não aceitação e
                    obediência deste termo de uso, não poderá usar o 
                    aplicativo nem fazer download do SO4 ou software 
                    relacionado. O isso do aplicativo SO4 é pó sua conta 
                    e risco. O aplicativo é "como está" e "conforme 
                    disponível". Não oferecemos garantia e nos 
                    isentamos de todas as responsabilidades sobre a
                     disponibilidade, a oportunidade,a segurança, a
                      confiabilidade e a qualidade do aplivativo SO4, 
                      assim como peça exclusão ou falha em armazenar ou 
                      transmitir qualquer conteúdo. Não nos responsabilizamos 
                      em qualquer falha ou exclusão de natureza direta com as
                       operadoras de telefonia celular, no que tange a 
                       comunicação direta do usuário com as operadoras de 
                       telefonia.</p>
                       <br>
                       <br>
                       <br>

</ion-content>
